In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [9]:
data = pd.read_csv('Salary_Data.csv')
data.head(10)

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0
5              2.9  56642.0
6              3.0  60150.0
7              3.2  54445.0
8              3.2  64445.0
9              3.7  57189.0

In [21]:
real_x = data.iloc[:,0].values
real_y = data.iloc[:,1].values
real_x = real_x.reshape(-1,1)
real_y = real_y.reshape(-1,1)

In [22]:
training_x, testing_x, training_y, testing_y = train_test_split(real_x, real_y, test_size=0.3, random_state=0)

In [23]:
Lin = LinearRegression()
Lin.fit(training_x, training_y)

LinearRegression()

In [24]:
Pred_y = Lin.predict(testing_x)

In [25]:
testing_y[3]

array([63218.])

In [26]:
Pred_y[3]

array([63282.41035735])